<div class="main_component">
    <div class="div-flex">
      <h1>Új termék hozzáadása</h1>
      <form [formGroup]="createProductsForm" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label for="title">Termék neve: </mat-label>
          <input matInput type="text" formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="oldPrice">Régi ár: </mat-label>
          <input matInput formControlName="oldPrice">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="price">Termék új ára: </mat-label>
          <input matInput formControlName="price">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="description">Termék leírása: </mat-label>
          <textarea matInput type="text" formControlName="description"></textarea>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Termék hozzáadása</button>
        </mat-card-actions>
      </form>
    </div>>
</div>
