<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h3>Termékek</h3>
                                    <h2>Népszerű termékek</h2>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                    <div class="part-1">
                                            <ul>
                                                    <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                                    <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Unix akkumulátor</h3>
                                            <h4 class="product-old-price">39 990Huf</h4>
                                            <h4 class="product-price">34 990Huf</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-2" class="single-product">
                                    <div class="part-1">
                                            <span class="discount">15% off</span>
                                            <ul>
                                                <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                                <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                        </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Kerékemelő</h3>
                                            <h4 class="product-price">109 990Huf</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-3" class="single-product">
                                    <div class="part-1">
                                        <ul>
                                            <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                        </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">LIQUI-MOLY Olaj adalék</h3>
                                            <h4 class="product-old-price">7990Huf</h4>
                                            <h4 class="product-price">5490Huf</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-4" class="single-product">
                                    <div class="part-1">
                                            <span class="new">new</span>
                                            <ul>
                                                <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                                <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">FTE Féknyereg dugattyú</h3>
                                            <h4 class="product-price">12 390Huf</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-5" class="single-product">
                                    <div class="part-1">
                                        <ul>
                                            <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                        </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">CORTECO Lengéscsillapító szimering</h3>
                                            <h4 class="product-price">2444Huf</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-6" class="single-product">
                                    <div class="part-1">
                                            <span class="discount">15% off</span>
                                            <ul>
                                                <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                                <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">K&N FILTERS Sport levegőszűrő kit</h3>
                                            <h4 class="product-price">104 450Huf</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-7" class="single-product">
                                    <div class="part-1">
                                        <ul>
                                            <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                        </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">DN-TEGER Szelepsapka</h3>
                                            <h4 class="product-price">1390Huf</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-8" class="single-product">
                                    <div class="part-1">
                                            <span class="new">new</span>
                                            <ul>
                                                <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                                <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">A.Z. MEISTERTEILE Ablaktörlő</h3>
                                            <h4 class="product-price">1390Huf</h4>
                                    </div>
                            </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-9" class="single-product">
                                <div class="part-1">
                                        <span class="new">new</span>
                                        <ul>
                                            <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                            <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">KOLBENSCHMIDT Dugattyúgyűrű készlet</h3>
                                        <h4 class="product-price">5360Huf</h4>
                                </div>
                        </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-10" class="single-product">
                            <div class="part-1">
                                    <span class="new">new</span>
                                    <ul>
                                        <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                        <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                    </ul>
                            </div>
                            <div class="part-2">
                                    <h3 class="product-title">A.Z. MEISTERTEILE Autó illatosító</h3>
                                    <h4 class="product-price">5300Huf</h4>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-11" class="single-product">
                            <div class="part-1">
                                    <span class="new">new</span>
                                    <ul>
                                        <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                        <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                    </ul>
                            </div>
                            <div class="part-2">
                                    <h3 class="product-title">LAMPA Gyertyakulcs</h3>
                                    <h4 class="product-price">5500Huf</h4>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-12" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                    <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                    <h3 class="product-title">UNIX Tolatókamera</h3>
                                    <h4 class="product-old-price">20 990Huf</h4>
                                    <h4 class="product-price">17 990Huf</h4>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-13" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                    <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                    <h3 class="product-title">Suzuki SX4 fékbetét garnitúra</h3>
                                    <h4 class="product-price">10 990Huf</h4>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-14" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                    <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                    <h3 class="product-title">Suzuki SX4 szőnyeg</h3>
                                    <h4 class="product-old-price">16 780Huf</h4>
                                    <h4 class="product-price">14 990Huf</h4>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-15" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                    <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                    <h3 class="product-title">Mercedes A-CLASS lökhárító</h3>
                                    <h4 class="product-old-price">95 300Huf</h4>
                                    <h4 class="product-price">90 290Huf</h4>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-16" class="single-product">
                            <div class="part-1">
                                <ul>
                                    <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                    <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                    <h3 class="product-title">Mercedes A-CLASS pedálgumi</h3>
                                    <h4 class="product-old-price">1490Huf</h4>
                                    <h4 class="product-price">1290Huf</h4>
                            </div>
                    </div>
                </div>
            </div>
    </div>
</section>
