 <div class="grid-container" >
        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
                <div (click)="getProductsId(product)" class="single-product">
                        <div class="part-1">
                            <ul>
                                <app-viewer [imageInput]="chosenImage"></app-viewer>
                                <li><a href="#"><mat-icon>add_shopping_cart</mat-icon></a></li>
                                <li><a href="#"><mat-icon>open_in_new</mat-icon></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                                <h3 class="product-title">{{ product.title }}</h3>
                                <h4 class="product-old-price">{{product.oldPrice | currency:'HUF ' : 'symbol':'4.0'}}</h4>
                                <h4 class="product-price">{{product.price | currency:'HUF ' : 'symbol':'4.0'}}</h4>
                        </div>
                </div>
        </div>
</div>
